<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}PersonalAPI{% endblock title %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{url_for('static', filename='css/normalize.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
        {%- block additional_css %}{% endblock -%}
        {%- block header_js %}{% endblock -%}
    </head>
    <body class="{% block body_class %}{% endblock %}">

    {%- block navbar %}
        <nav class="">
            <ul class="inline-list">
                <li class=""><a href="{{url_for('frontend.index')}}">Index</a></li>
                <li class=""><a href="{{url_for('twitter.login')}}">Twitter</a></li>
                <li class=""><a href="{{url_for('fitbit.login')}}">Fitbit</a></li>
                <li class=""><a href="{{url_for('readmill.login')}}">Readmill</a></li>
                <li class=""><a href="{{url_for('github.login')}}">GitHub</a></li>
                <li class=""><a href="{{url_for('foursquare.login')}}">Foursquare</a></li>
                <li class=""><a href="{{url_for('writer.index')}}">Writer</a></li>       
                {%- if current_user.is_anonymous() %}
                <li><a href="{{url_for('security.login')}}">Login</a></li>
                {% else %}
                <li><a href="{{url_for('security.logout')}}">Logout</a></li>
                {%- endif %}
            </ul>
        </nav>
    {%- endblock -%}

    {%- block container %}
        <div class="container"> 
            {% with messages = get_flashed_messages() %}
                  {% if messages %}
                    <ul class=flashes>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                    </ul>
                  {% endif %}
            {% endwith %}
            {% block content %}
            {% endblock content %} 
            {% block footer %}
            <hr>
            <footer>
                <p>&copy; Hand 2013</p>
            </footer>
            {% endblock footer %}
        </div> <!-- /container -->
    {% endblock -%}

    {%- block user_js %}
        <script>
            {%- if current_user.is_authenticated() -%}
            var currentUser = '{{current_user.id}}';
            {%- else -%}
            var currentUser = false;
            {%- endif -%}
        </script>
    {% endblock -%}
    
    {%- block footer_js %}{% endblock -%}
    </body>
</html>

